#!/usr/bin/make -f


# Add here any variable or target overrides you need.
PACKAGE := $(DEB_SOURCE_PACKAGE)

DEB_DH_INSTALLINIT_ARGS := --no-start

JAVA_HOME := $(shell update-alternatives --query javac | grep Best: | cut -d " " -f2 | sed 's|/bin/javac||')

build:
	mvn -Dmaven.repo.local=${HOME}/.m2/repository clean package
	mv target/tms-api-1.0-SNAPSHOT.jar lib/tms-api.jar


clean::
	mvn -Dmaven.repo.local=${HOME}/.m2/repository clean
